<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DuplicateSuppressionHours" value="24" />
  </appSettings>
  <connectionStrings>
    <add name="ManagedOracle"
         connectionString="Data Source=YOUR_MANAGED_ORACLE_TNS;User Id=APP_SCHEMA_USER;Password=REPLACE_WITH_SECRET;"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
